## BOARD PINS
[board_pins EBB36_G0B1_v1.2_et4] 
mcu: et4
aliases:
aliases_step:
    EXT_EN=PD2,EXT_STEP=PD0,EXT_DIR=PD1,EXT_UART=PA15
aliases_limitsw: # these are preferred for endstops (including klicky)
    LIMIT_1=PB7,LIMIT_2=PB5,LIMIT_3=PB6
aliases_bltouch: # these are the dupont connectors for bltouch
    PROBE_1=PB9,PROBE_2=PB8
aliases_fans:
    FAN0=PA0,FAN1=PA1
aliases_thermistors:
    TH0=PA3,PT100_CS=PA4,PT100_SCLK=PA5,PT100_MISO=PA6,PT100_MOSI=PA7
aliases_heaters:
    HE0=PB13
aliases_rgb:
    RGBLED=PD3
aliases_adxl:
    ADXL_CS=PB12,ADXL_SCLK=PB10,ADXL_MISO=PB2,ADXL_MOSI=PB11
aliases_i2c:
    AUX0=PB3,AUX1=PB4


## et4 -
[mcu et4]
canbus_uuid: d826baea095f # 317f3e1ac5ee # run the following command to locate the uuid >   ~/klippy-env/bin/python ~/klipper/scripts/canbus_query.py et4

[temperature_sensor et4]
sensor_type: temperature_mcu
sensor_mcu: et4

## extruder4 -
[extruder4]
step_pin: et4:EXT_STEP
dir_pin: !et4:EXT_DIR
enable_pin: !et4:EXT_EN
#rotation_distance: 22.67895 #for 5mm Shaft Driven Bondtech gearsets
rotation_distance: 22.915189062 #21.9985815
gear_ratio: 50:10 #for sherpa mini 8t motor
microsteps: 16
full_steps_per_rotation: 200 #1.8deg Motor
max_extrude_only_distance: 1400.0
max_extrude_only_velocity: 75.0
max_extrude_only_accel: 1500

nozzle_diameter: 0.400
filament_diameter: 1.750

pressure_advance = 0.03
pressure_advance_smooth_time=0.01

heater_pin: et4:HE0
sensor_pin: et4:TH0
sensor_type: Generic 3950
#sensor_type: ATC Semitec 104GT-2  # this is the default for the Revo heater
#pullup_resistor: 2200            # 4700 is default and does not need defining, 2200 is used for the PT100

# PID-Werte ermittelt mit Befehl: PID_CALIBRATE HEATER=extruder4 TARGET=240
control: pid
# pid_Kp: 10.012
# pid_Ki: 0.733
# pid_Kd: 34.168
pid_Kp: 29.672 
pid_Ki: 1.939 
pid_Kd: 113.503


min_temp: 0
max_temp: 300
max_power: 1
min_extrude_temp: 190

## extruder4 MOTOR -
[tmc2209 extruder4]
uart_pin: et4:EXT_UART
stealthchop_threshold: 0
run_current: 0.5
hold_current: 0.1

## HOT END FAN -
[heater_fan T4_hotend_fan]
pin: et4:FAN0
max_power: 1.0
kick_start_time: 0.5
heater: extruder4
heater_temp: 50.0

# PART COOLING -
[multi_fan T4_partfan]
pin: et4:FAN1
kick_start_time: 0.25
cycle_time: 0.015
off_below: 0.10

## ADXL345
[adxl345]
cs_pin: et4:ADXL_CS
spi_software_sclk_pin: et4:ADXL_SCLK
spi_software_mosi_pin: et4:ADXL_MOSI
spi_software_miso_pin: et4:ADXL_MISO
axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345
probe_points:
    175,175,20  # an example for a 350mm printer
accel_per_hz: 150

# RGB
[neopixel T4_LED]
pin: et4:RGBLED
chain_count: 3
color_order: GRB
initial_RED: 1
initial_GREEN: 1
initial_BLUE: 1
#initial_white: 0.50

## PT100
# [temperature_sensor PT100]
# sensor_type: MAX31865
# sensor_pin: et4:PT100_CS
# spi_bus: spi1
# min_temp: 15
# max_temp: 320
# rtd_reference_r: 430

[gcode_macro T4]
variable_color: ""
gcode:
  SELECT_TOOL T=4

[tool T4]
tool_number: 4
extruder: extruder4
params_type = 'r64_lh_s' 
fan: multi_fan T4_partfan
gcode_x_offset: 0.017 # -0.285
gcode_y_offset: -1.378 #0.806
gcode_z_offset: -3.1 #-1.7 #-1.750
params_park_x: 344.7 #336.5
params_park_y: 2.99 #2.99 #9.4 #8.8
params_park_z: 341.2 #344.4 #341.9

[tool_probe T4]
pin: !et4:LIMIT_3 #^et4:LIMIT_3    LIMIT_3=PB6
tool: 4
x_offset: 0
y_offset: 0
z_offset: -1.5 #-0.8 # home Z. Then step the TH down to light the blue led of the tap sensor. The shown Z position is the z_offset
speed: 5.0
lift_speed: 20
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.01 #0.005
samples_tolerance_retries: 5
activate_gcode:
   _TAP_PROBE_ACTIVATE HEATER=extruder4




